.#FFC299 {
  background-color: #FFC299;
}

.#FFD699 {
  background-color: #FFD699;
}

.#FFEB99 {
  background-color: #FFEB99;
}

.#FFFF99 {
  background-color: #FFFF99;
}

.#DCF593 {
  background-color: #DCF593;
}

.#8DEB8D {
  background-color: #8DEB8D;
}

.#8DD3EB {
  background-color: #8DD3EB;
}

.#8DB4EB {
  background-color: #8DB4EB;
}

.#9C8DEB {
  background-color: #9C8DEB;
}
